<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-5.0.2-dist/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h1>Integracion mediante CDN de Bootstrap</h1>
                <p>Lorem ipsum dolor sit amet consectetur adispiscing elit.
                    Temporibus maiores voluptates</p>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h1>Integracion mediante CDN de Bootstrap</h1>
                <p>Lorem ipsum dolor sit amet consectetur adispiscing elit.
                    Temporibus maiores voluptates</p>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h1>Integracion mediante CDN de Bootstrap</h1>
                <p>Lorem ipsum dolor sit amet consectetur adispiscing elit.
                    Temporibus maiores voluptates</p>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h1>Integracion mediante CDN de Bootstrap</h1>
                <p>Lorem ipsum dolor sit amet consectetur adispiscing elit.
                    Temporibus maiores voluptates</p>
            </div>
        </div>
    </div>
    <script src="../bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
</body>
</html>